.formbox{
    background-color: rgb(250, 250, 255);
    display: grid;
    gap: 35px;
    border-radius: 10px;
    padding: 68px;
    width: 600px;
    position: absolute;
    top: 0;
    margin-left: 800px;
    margin-top: 40px;
}

.formbox-flex{
    gap: 20px;
}

