.MainBox{
    /* border: 2px solid plum; */
    /* height: 90dvh; */
}

.shrink{
    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -ms-transform:scale(0.9);
    transform:scale(0.9);
    }

.formbox{
    background-color: rgb(250, 250, 255);
    display: grid;
    gap: 35px;
    /* gap: 1%; */
    border-radius: 10px;
    padding: 4%;
    height: auto;
    /* width: 'auto'; */
    /* position: relative; */
    position: absolute;
    top: 0;
    margin-left: 54%;
    /* margin-top: 36px; */
    margin-top: 5%;
    /* border: 2px solid red; */
}

.formbox-flex{
    gap: 20px;
}

